@import "./main.scss";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body{
  font-family: "Lato", sans-serif;

}



/**
UI COMPONENT - BUTTON, MODAL, INPUT, SELECT
 */

.button {
  font: inherit;
  cursor: pointer;
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
  padding: 0.6rem 1.8rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover:enabled {
    background-color: #000000;
  }
  &:active:enabled {
    background-color: #000000;
    transition: all 0.1s ease;
    scale: 1.05;
  }
  &:disabled {
    font: inherit;
    cursor: not-allowed;
    background-color: #DDDDDD;
    color: #fff;
    padding: 0.6rem 1.8rem;
    border-radius: 8px;
    border: 1px solid #DDDDDD;
  }
}

.text-button {

  &:hover {
  }
  &:active {

  }

}

.outlined-button {
  font: inherit;
  cursor: pointer;
  background-color: #fff;
  color: #222222;
  padding: 0.6rem 1.8rem;
  border-radius: 8px;
  border: 1px solid rgb(221, 221, 221);
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    border-color: #222222;
  }
  &:active {
    transition: all 0.1s ease;
    scale: 1.05;
  }
}

.round-button {
  font: inherit;
  cursor: pointer;
  background-color: #fff;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgb(221, 221, 221);
  display: flex;
  align-items: center;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  justify-content: center;
  &:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  }
  &:active {
    transition: all 0.1s ease;
    scale: 1.05;
  }
}


.icon-button {
  font: inherit;
  cursor: pointer;
  background-color: #fff;
  padding: 0;
  display: flex;
  align-items: center;
  outline: 0;
  border: none;
  justify-content: center;

  &:hover {
    //box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  }
  &:active {
    transition: all 0.1s ease;
    scale: 1.1;
  }
}

.chat-button {
  font: inherit;
  cursor: pointer;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  color: $white-color;
  padding: 0.6rem 1.8rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover:enabled {
    background-color: $primary-color;
  }
  &:active:enabled {
    background-color: $primary-color;
    transition: all 0.1s ease;
    scale: 1.05;
  }
  &:disabled {
    font: inherit;
    cursor: not-allowed;
    background-color: #DDDDDD;
    color: #fff;
    padding: 0.6rem 1.8rem;
    border-radius: 8px;
    border: 1px solid #DDDDDD;
  }
}




.control {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: rgb(107 114 128);
  }

  input {
    width: 100%;
    //max-width: 20rem;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
  }

  textarea {
    width: 100%;
    min-height: 92px;
    //max-width: 20rem;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    resize: vertical;
  }

}

.selectDiv {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: rgb(107 114 128);

  }

  select {
    width: 100%;
    //max-width: 20rem;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;

  }
}


/**
   react-toastify custom css
 */
.Toastify__toast-container--top-right {
  .Toastify__toast {
    border-radius: 0px;
  }
}


/**
  react-leaflet-map css
 */
.leaflet-container {
  ////width: 100%;
  //height: 100vh;
  //width: 20%;
  //height: 50%;
  //outline: none;
  ////overflow: hidden;
  //background: rgb(248, 249, 250);
  //position: fixed;
}
