$primary-color: #3CB371; // 주요 색상 변수
$secondary-color: #25784a; // 2번째 주요 색상 변수
$default-color: #222222; //
$white-color: #FFFFFF; // 2번째 주요 색상 변수

$font-size-base: 16px; // 기본 폰트 크기
$icon-size: 32px;        // 아이콘 크기 변수
$secondary-color: #6c757d;
$success-color: #28a745;
$error-color: #dc3545;

