@import "../../main.scss";

.leaflet-marker-icon {
  width: auto !important;
}

.leaflet-div-icon {
  background: none;
  border: none;
  width: auto;
}

.saved-pin {
  position: relative;
  border: 1px solid $primary-color;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  background-color: $primary-color;
  padding: 0 20px;
  height: 28px;
  border-radius: 28px;
  text-align: center;
  line-height: 28px;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  align-items: center;
}

.marker {
  position: relative;
  border: 1px solid #bbb;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  padding: 0 20px;
  height: 28px;
  border-radius: 28px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  display: inline-block;

  div {
    position: relative;
  }
}

.popup {
  left: -110px !important;

  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    text-align: center;
    z-index: 3;
    border-radius: 50%;
  }

  .leaflet-popup-content {
    margin: 0;
    width: 280px;
    height: 280px;
  }

  .leaflet-popup-content-wrapper {
    //padding: 0;
  }

  .leaflet-popup-tip-container {
    //padding: 0;
    //margin-top: -13px;
  }

  a.leaflet-popup-close-button {
    display: none;
  }

  .popupContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;

    img {
      width: 100%;
      height: 180px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      object-fit: cover;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      padding: 5px 10px;

      // 첫번째 줄(예: 제목)에 대해 텍스트 오버플로우 처리
      > div:first-child {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      div {
        color: #444444;
        font-size: 15px;

        &:nth-child(1) {
          display: flex;
          justify-content: space-between;
          font-weight: 600;
          font-size: 17px;
          align-items: center;
          .savedCnt {
            display: flex;
            align-items: center;
            gap: 1px;
          }
        }

        &:nth-child(4) {
          font-weight: 600;
        }
      }

      .pinCursor {
        cursor: pointer;
      }
    }

    .icons {
      z-index: 3;

      .pinButton {
        top: 10px;
        position: absolute;
        right: 53px;

        .clickedHeart {
          font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
          color: $heart-color;
        }

        span {
          font-size: 20px;
          font-weight: 600;
        }
      }

      .pinRightButton {
        top: 10px;
        position: absolute;
        right: 10px;

        span {
          font-size: 20px;
          font-weight: 600;
        }
      }

      .icon {
        border: 1px solid #999;
        padding: 2px 5px;
        border-radius: 5px;
        cursor: pointer;
        height: 20px;

        &:hover {
          background-color: lightgray;
        }

        image {
          width: 100%;
        }
      }
    }
  }
}

.slick-slider {
  .slick-arrow {
    z-index: 2;
  }
  .slick-next {
    right: 10px;
  }
  .slick-prev {
    left: 10px;
  }
  .slick-dots {
    bottom: 1px;
    button {
      width: 20px;
    }
  }
}
