.leaflet-marker-icon {
  width: auto !important;
}
.leaflet-div-icon {
}
.leaflet-div-icon {
  background: none;
  border: none;
  width: auto;
}

.saved-pin {
  position: relative;
  border: 1px solid #bbb;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  background-color: rgb(254, 206, 81);
  padding: 0px 20px;
  height: 28px;
  border-radius: 28px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.marker {
  position: relative;
  border: 1px solid #bbb;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  padding: 0px 20px;
  height: 28px;
  border-radius: 28px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;

  div {
    position: relative;
  }

}

.popup {
  left: -110px !important;
  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    text-align: center;
    z-index: 3;
    border-radius: 50%;
  }
  .leaflet-popup-content {
    margin:0;
    width: 280px;
    height: 280px;
  }
  .leaflet-popup-content-wrapper {
    //padding:0;
  }

  //.leaflet-popup-content {
  //  padding:0;
  //  background: green;
  //}

  .leaflet-popup-tip-container {
    //padding:0;
    //margin-top: -13px;
  }
  a.leaflet-popup-close-button {
    display: none;
  }

  .popupContainer {
    display: flex;
    flex-direction: column;
    //width: 200px;
    //height: 250px;

    margin: 0;
    //width: 100%;

    img {
      width: 100%;
      height: 180px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      object-fit: cover;
    }

    .textContainer {
      display: grid;
      background: gold;
      //margin:10px 5px;
      //flex-direction: column;
      //justify-content: space-between;
    }

    .icons {
      z-index: 3;
      .pinButton {
        position: absolute;
        right:0;
        .red {
          color:red
        }
        span{
          font-size: 20px;
          font-weight: 600;
        }
      }

      .pinRightButton {
        position: absolute;
        right:45px;

        span{
          font-size: 20px;
          font-weight: 600;
        }
      }

      .icon {
        border: 1px solid #999;
        padding: 2px 5px;
        border-radius: 5px;
        cursor: pointer;
        height: 20px;

        //display: flex;
        //align-items: center;
        //justify-content: center;

        &:hover {
          background-color: lightgray;
        }
        image {
          width: 100%;
        }
      }
    }
  }

}

.slick-slider {
  .slick-arrow {
    z-index: 2;
  }
  .slick-next{
    right: 10px;
  }
  .slick-prev {
   left: 10px
  }
  .slick-dots {
    bottom: 1px;
    button {
      width: 20px;
    }
  }
}


