@import "../../main.scss";

// Main Page Styling
.main-page {
  font-family: Arial, sans-serif;
  padding-top: calc(80px + 1rem);

  /* Hero Section */
  .hero {

    //background: url('https://images.unsplash.com/photo-1504826268637-c113c1a29e1d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat;
    //background-position: center 70%; /* 가로 중앙, 세로 20%로 조정 */
    position: relative; /* 오버레이 위치를 잡기 위해 relative 설정 */
    background: url('https://images.unsplash.com/photo-1520608421741-68228b76b6df?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat;
    background-position: center 40%; /* 가로 중앙, 세로 20%로 조정 */
    color: $white-color;
    background-size: cover;
    padding: 100px 20px;
    text-align: center;
    z-index: 1; /* 텍스트가 오버레이 위에 보이도록 */


    &__content {
      max-width: 800px;
      margin: 0 auto;

      h1 {
        font-size: 3rem;
        margin-bottom: 20px;
      }

      p {
        font-size: 1.2rem;
        margin-bottom: 40px;
      }

      .btn-primary {
        margin: 0 auto;
        background-color: $primary-color;
        color: white;
        font-size: 1rem;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: $primary-color;
        }
      }
    }
  }
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1); /* 반투명 검은색 오버레이 */
    z-index: -1; /* 오버레이를 텍스트 아래로 */
  }

  /* Categories Section */
  .categories {
    padding: 60px 20px;
    background-color: #f8f9fa;
    text-align: center;

    .section-title {
      font-size: 2rem;
      margin-bottom: 40px;
    }

    .icon-main {
      font-size: 3rem;
      margin-bottom: 0.4rem;
    }

    &__list {
      display: flex;
      justify-content: space-around;

      .category {
        width: 30%;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        h3 {
          font-size: 1.5rem;
          margin-bottom: 10px;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }

  /* Featured Listings Section */
  .featured-listings {
    padding: 60px 20px;

    .section-title {
      font-size: 2rem;
      margin-bottom: 40px;
      text-align: center;
    }

    .listings {
      display: flex;
      justify-content: space-around;
      gap: 20px;
      flex-wrap: wrap;  /* 여러 줄로 감싸기 */

      .listing {
        cursor: pointer;
        width: 22%;
        //background-color: #ffffff;
        //padding: 20px;
        border-radius: 8px;
        //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        @include lg {
          width: 25%;

        }

        @include md {
          width: 45%;
        }

        @include sm {
          width: 100%;
        }

        .titleAndCounts {
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            font-size: 1rem;
            display: flex;
            align-self: center;
            gap: 3px;
          }
        }

        img {
          width: 100%;
          border-radius: 8px;
          background-color: #bbbbbb;
          margin-bottom: 5px;
          object-fit: cover;
          height: 280px;

        }

        h3 {
          font-size: 1rem;
          font-weight: 500;
        }

        p {
          //font-size: 1.1rem;
          //margin-bottom: 20px;
          font-size: 0.9rem;
          color: #495057;
        }

      }
    }
  }

}
