@import "../../main.scss";
  .modal-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    //background-color: black;
    z-index: 1;
  }


  .modal-content {
    position: absolute;
    top: 80px;
    right: 80px;
    background-color: $white-color;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    transform: translateY(-20px)--open visibility 0s 0.3s;

    ul {
      list-style: none;
      padding: 10px;
      margin: 0;

      li {
        padding: 10px;
        cursor: pointer;

        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }




