@import "../../main.scss";

.chatForm {
  position: sticky;
  bottom: 0;
  padding: 15px;
  background-color: $white-color;
  //width: calc(100% - 320px);
  //left: var(--sidebar-width);
  &__form {

    display: flex;
    gap: 10px;
    //


  }

  &__textarea {
    flex-grow: 1;
    height: 110px;
    padding: 10px;
    border-radius: 10px;

    position: relative;
  }

  &__button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: $white-color;
    background-color: #3CB371;
    background: #3CB371;
    border: none;
    //padding:10px 20px;
  }
}

