@import "../../responsive.scss";

.listPage {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1.2fr 1fr;

  .listContainer {
    .wrapperList {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      padding-top: 20px;
      padding-bottom: 50px;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
      }
    }
  }

  .mapContainer {
    width: 100%;
    position: sticky;
    height: calc(100vh - 80px);
    top: 80px;
    background-color: rgb(229, 227, 223);

    @include md {
      display: none;
    }
  }
}

