@import "../../responsive.scss";
.messagePage {
  display: flex;
  height: 100%;
}
.messenger {
  //height: calc(100vh - 70px);
  //display: flex;
  //background: gold;
  //height: 100%;
  flex: 1;
  overflow-y: auto;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.chatBox {
  flex: 3;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: auto;
  padding: 0 10px;
}

.chatBoxBottom {
  background: #fff;
  position: sticky;
  bottom:0;
  padding: 0px 15px 30px 15px;
}
.chatBoxForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap:10px;

  .chatMessageInput {
    height: 90px;
    border-radius: 4px;
    flex-grow: 1;
    padding:10px;
    font-size: 15px;
  }



}



//.chatMenuWrapper,
//.chatBoxWrapper,
//.chatOnlineWrapper {
//  padding: 10px;
//  height: 100%;
//}

.noConversationText {
  margin-top: 20px;
  font-size: 28px;
  color: rgb(224, 220, 220);
  cursor: default;
}
//
//@media screen and (max-width: 768px) {
//  .chatMenu {
//    flex: 1;
//  }
//
//  .chatMenuInput {
//    display: none;
//  }
//
//  .chatBox{
//    flex: 10;
//  }
//
//  .chatOnline{
//    flex: 1px;
//  }
//}
