@import "../../main.scss";
:root {
  --sidebar-width: 300px;
}

.chat {
  display: flex;
  min-height: calc(-80px + 100vh);
  border-left: 2px solid #eeeeee;
  border-right: 2px solid #eeeeee;
  position: relative;
  align-items: center;

  &.borderNone {
    @include md {
      border: none;
    }
  }

  &__sidebar {
    flex: none;
    width: var(--sidebar-width); // 사이드바 너비
    min-height: calc(100vh - 80px);
    top: 80px;
    position: fixed;
    overflow-y: auto;
    border-right: 2px solid #eeeeee;
    display: flex;
    flex-direction: column;
    z-index: 1;

    @include md {
      display: none;
    }

    &--full {
      @include md {
        display: flex;
        width: 100%;
        position: static;
        border-right: none;
      }
    }

    &-menu {

      &--noChatting {
        color: #bbbbbb;
        font-size: 14px;
        text-align: center;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px dashed #ddd;
        border-radius: 4px;
      }
    }

    &-user {
      font-weight: bold;
      color: #222222;
      padding: 18.5px;
      width: 100%;
      z-index: 1;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #eeeeee;
      height: 61px;
      cursor: pointer;

      @include md {
        //display: none;
      }

      &--none {
        @include md {
          display: none;
        }
      }
    }

  }

  &__main {
    flex: 1;
    margin-left: var(--sidebar-width); // 사이드바 너비만큼 여백 추가
    position: relative;
    @include md {
      flex-grow: 1; /* 남은 공간을 차지할 비율 */
      margin-left: 0; // 사이드바 너비만큼 여백 추가
    }

    &--none {
      @include md {
        display: none;
      }
    }
  }

  &__header {
    width: 100%;
    position: sticky;
    top: 80px;
    border-bottom: 2px solid #eeeeee;
    background-color: $white-color;
    z-index: 1;
  }

  &__wrapper {
    min-height: calc(100vh - 80px - 140px - 60px);
  }

  &__noWrapper {
    display: flex;
    flex-direction: column;
    height: calc(-80px + 100vh);
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__no-conversation {
    font-size: 28px;
    color: rgb(224, 220, 220);

    &--none {
      @include md {
        display: none;
      }
    }

    &--lottieChat {
      width: 20rem;
      //background-color: #3CB371;
      //color: white;
      opacity: 0.4;
    }

  }
}