@import "../../main.scss";

.footer {
  background-color: #282828;
  color: white;
  text-align: center;
  font-size: 14px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
