@import "../../responsive.scss";


.fullSlider {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;

  .arrow {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: white;
      background-color: rgba(34, 34, 34, 0.9);
      font-size: 50px;
      cursor: pointer;
    }
  }
  .imgContainer {
    flex: 10;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    cursor: pointer;

    span {
      color: white;
      font-size: 45px;
      cursor: pointer;
    }

  }
}

.slider {
  width: 100%;
  height: 350px;
  display: flex;
  gap: 10px;
  position: relative;

  @include sm {
    flex-direction: column;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  .bigImage {
    flex: 1;
    height: 100%;
  }

  .smallImages {
    flex: 1;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows:  repeat(2, minmax(0, 1fr)); // 1
    gap: 10px;


    @include sm {
      display: none;
    }

    //3개일때
    .imgItemThree:first-child {
      grid-column: 1 / 2; //start 1 end 3
      grid-row: 1 / 3;
    }

    //2개일때
    .imgItemTwo:first-child {
      grid-column: 1 / 2; //start 1 end 3
      grid-row: 1 / 3;
    }
    .imgItemTwo:last-child {
      grid-column: 2 / 3; //start 1 end 3
      grid-row: 1 / 3;
    }

    //1개일때
    .imgItemOne {
      grid-column: 1 / 3; //start 1 end 3
      grid-row: 1 / 3;
    }


  }
}
