@import "../../main.scss";

.messages {
  padding: 80px 20px 20px;

  &__date {
    text-align: center;
    padding-top: 1rem;
    //background-color: #3CB371;
    span {
      background-color: $white-color;
      color: #222222;
      font-weight: bold;
      font-size: 1rem;
      border-radius: 40px;
      padding: 3px 10px;
      border: 1px solid #eeeeee;
    }
  }
}
