
@import "../../responsive.scss";

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  padding-left: 80px;
  padding-right: 80px;
  border-bottom: 1px solid rgb(237, 237, 237);
  background-color: white;

  .upperNav {
    display: flex;
    align-items: center;
    height: 80px;
    div {
      flex: 1;
    }
    .logo{
      display: flex;
      align-items: center;
      cursor: default;
    }
    .user {
      display: flex;
      justify-content: flex-end;
      gap:6px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 5px;
      }

      span {
        font-weight: 700;
        @include sm {
          display: none;
        }
      }

      .profile{
        cursor: pointer;
        border: none;
        display: flex;
        align-items: center;

        .notification{
          position: absolute;
          top: -5px;
          left:26px;
          background-color: red;
          color: white;
          border-radius: 50%;
          width: 26px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

      }
    }

  }

  .bottomNav {
    position: relative;
    width: 100%;

    .search {
      position: absolute;
      display: flex;
      border-radius: 100vw;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.2);
      height: 3em;
      margin: auto;
      top: -65px;
      width: 300px;
      left: 50%;
      transform: translate(-50%, 0);
      transition: all 0.25s;

      div:not(.inputDiv){
        border-radius:inherit;
        padding:0.8rem 1.5rem;
      }

      div:hover:not(.clickedMenu){
        background:hsl(0 0% 87%);
      }

      .location{
        width:34%;
        margin-right: 5px;
        font-weight: normal;
        font-size: 12px;

        ::placeholder{
          color:#6a6a6a;
        }

      }
      .check-in, .check-out{
        width:17%;
        margin-right: 3px;
        font-weight: normal;
        font-size: 12px;

      }
      .guests{
        width:32%;
        margin-left: 3px;
        font-weight: normal;
        font-size: 12px;
      }

      input:not([type='range']), .inputDiv{
        background:none;
        border:none;
        width: 100%;
        height: 20px;
        display: flex;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: normal;
        font-size: 14px;
        color:#6a6a6a;
        cursor: pointer;
        &:focus {
          outline:none;
        }
      }

      input[type='text'] {
        cursor: text;
      }

    }
  }
}

.bottomNav.topNav {
  height: 86px;

}
.topNav .search {
  top:0 !important;
  margin-top: 7px !important;
  width: 848px !important;
  height: 64px !important;
}








.guests span:nth-of-type(2){
  position:absolute;
  top:50%;
  right:10px;
  transform:translateY(-50%);
  background:#FF385C;
  color:white;
  font-size:1.2rem;
  padding:.4em;
  border-radius:50%;
}


.topNav .guests span:nth-of-type(2){
  font-size:1.5rem;
  padding:.5em;
}

.search>div{
  position:relative;
}

.search>div::before{
  position:absolute;
  content:"";
  left:0;
  top:50%;
  transform:translateY(-50%);
  width:1px;
  height:40px;
  background:hsl(0 0% 90%);
}

.search>div:nth-of-type(1)::before{
  background:transparent;
}

.search>div:hover::before{
  background:transparent;
}

.notClicked {
  background-color: #eeeeee;
}

.clickedMenu{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.autocomplete-dropdown{
  cursor: default;
  top: 150px;
  width: 52em;

  .suggestion-item {
    padding: 10px;
    cursor: pointer;
  }
  .suggestion-item--active {
    padding: 10px;
    background-color: #eee;
    cursor: pointer;
  }
}

.otherSuggestion {
  align-items: center;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  //transition: all 0.25s;
  width: 53em;
  font-weight: normal;
  padding: 1em 0 1rem 0;
  justify-content: center;
  text-align: center;

  p {
    font-size: 18px;
    color: #222222;
  }

  .selectBig {
    margin: 20px 0 20px 0;
  }

  .selectDiv {
    display: flex;
    flex-flow: row;
    gap: 10px;
    margin: 12px;
    justify-content: center;
    padding: 2px;
  }

  .selectDivSlider {
    margin-top: 17px;
  }

  .labelDiv {
    padding: 5px 25px;
    border: 1px solid #999999;
    border-radius: 20px;
  }

  .clicked {
    border-color: #222222;
    background-color: #eeeeee;
  }

}

.displayNone {
  display: none;
}