
@import "../../responsive.scss";


header {
  align-items: center;
  background: white;
  display: flex;
  height: 5em;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  transition: background 0.25s;
}

header.top {
  //background: #bbbbbb;
  height: 168px;
  padding:0;
}

.logo {
  font-size: 2em;
  position: absolute;
  top:0;
}

.search {
  align-items: center;
  background: white;
  border-radius:100vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  height: 48px; //3em
  left: 50%;
  max-width: 40%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  //transition: all 0.25s;
}
.top .search {
  max-width: 75%;
  height:64px;
  transform: translate(-50%, -10%);
  width: 53em;
}

.search div:not(.inputDiv){
  border-radius:inherit;
  padding:0.8rem 1.5rem;
  //transition:background 250ms ease;
}

.search div:hover:not(.clickedMenu){
  background:hsl(0 0% 87%);
}

.location{
  width:34%;
  margin-right: 5px;
}
.check-in, .check-out{
  width:22%;
  margin-right: 3px;
}

.guests{
  width:22%;
  margin-left: 3px;
}

input:not([type='range']), .inputDiv{
  background:none;
  border:none;
  width: 100%;
  height: 20px;
  background-color: gold;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:focus {
    outline:none;
  }
}

::placeholder{
  font-size:0.75rem;
}
.guests{
  position: relative;
}
.guests span{
  position:absolute;
  top:50%;
  right:10px;
  transform:translateY(-50%);
  background:#FF385C;
  color:white;
  font-size:1.5rem;
  padding:.8rem;
  border-radius:50%;
}

.search>div{
  position:relative;
}

.search>div::before{
  position:absolute;
  content:"";
  left:0;
  top:50%;
  transform:translateY(-50%);
  width:1px;
  height:55%;
  background:hsl(0 0% 90%);
}

.search>div:nth-of-type(1)::before{
  background:transparent;
}


.search>div:hover::before{
  background:transparent;
}

.notClicked {
  background-color: #eeeeee;
}

.clickedMenu{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  //pointer-events: none;

}



/////////////////////////

.autocomplete-dropdown-container {
  position: absolute;
  align-items: center;
  cursor: default;
  border-color: rgb(204, 204, 204);
  border-radius: 20px;
  outline: 0px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  top: 150px;
  width: 52em;
  font-weight: normal;
  z-index: 100000;

  .suggestion-item {
    padding: 10px;
    cursor: pointer;
  }
  .suggestion-item--active {
    padding: 10px;
    background-color: #eee;
    cursor: pointer;
  }

}


.otherSuggestion{
  align-items: center;
  background: white;
  border-radius:12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 95%;
  transform: translateX(-50%);
  //transition: all 0.25s;
  width: 53em;
  font-weight: normal;
  padding: 1em 0 1rem 0;
  justify-content: center;
  text-align: center;

  p {
    font-size: 18px;
    color: #222222;
  }

  .selectBig {
    margin: 20px 0 20px 0;
  }
  .selectDiv {
    display: flex;
    flex-flow: row;
    gap:10px;
    margin:12px;
    justify-content: center;
    padding:2px;
  }
  .selectDivSlider{
    margin-top: 12px;
  }

  .labelDiv {
    padding: 5px 25px;
    border: 1px solid #999999;
    border-radius:20px;
  }


  .clicked {
    border: 2.6px solid #222222;
  }


}

